<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="centered">Krásneho Valentína Janulka moja najdrahšia</span>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card-container">
    <button class="card" (click)="getPoem()">Napíš báseň o Janulke</button>
  </div>

  <!-- Terminal -->
  <div class="terminal">
    <div class="centered loading">
    <img width="50" height="50" src="https://cdn-icons-png.flaticon.com/512/3305/3305803.png" class="rotating" *ngIf="!poemLoaded"/>
    </div>
    <pre *ngIf="poemLoaded">{{poem}}</pre>
  </div>


  <!-- Footer -->
  <footer>
      Pre Janulku s láskou Kovko
  </footer>

</div>
